repos:
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: python -m mypy
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: python -m ruff check --fix
        language: system
        types: [python]
        files: \.(py)$
      - id: ruff-format
        name: ruff-format
        entry: python -m ruff format
        language: system
        types: [python]
        files: \.(py)$